---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.jsx";
import Intro from "../components/Intro.astro";
import AboutMe from "../components/AboutMe.astro";
import "../assets/styles/index.sass";
const allServices = await Astro.glob("../pages/services/*.md");

---

<Layout title="Wahlen Webentwicklung">
	<main>
		<Intro />
		<h1>Vom Konzept zur Realität – meine Leistungen im Überblick</h1>
		<ul role="list" class="link-card-grid" transition:name="cards">
			<Card
				client:load
				href="/services/service1"
				title={allServices[0].frontmatter.title}
				body={allServices[0].frontmatter.description}
			/>
			<Card
				client:load
				href="/services/service2"
				title={allServices[1].frontmatter.title}
				body={allServices[1].frontmatter.description}
			/>
			<Card
				client:load
				href="/services/service3"
				title={allServices[2].frontmatter.title}
				body={allServices[2].frontmatter.description}
			/>
			<Card
				client:load
				href="/services/service3"
				title={allServices[3].frontmatter.title}
				body={allServices[3].frontmatter.description}
			/>
		</ul>
		<h1 class="py-12 text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight"> Über mich</h1>
		<AboutMe />
	</main>
</Layout>
